---
import MainLayout from "../../layouts/MainLayout.astro"
import Posts from "../../components/Posts.astro"

const title = "Blog"
const description = "All blogs"
---

<MainLayout {title} {description}>
  <section class="container">
    <h1 class="h1">New Blog Posts</h1>
    <Posts />
  </section>
</MainLayout>
