---
import { getCollection } from "astro:content"
import MainLayout from "../../layouts/MainLayout.astro"
import PostCard from "../../components/PostCard.astro"

const title = "Blog"
const description = "All blogs"

// all posts
const allPosts = await getCollection("posts")

const frontmatter = allPosts
  .map((post) => ({ ...post.data, url: post.slug }))
  .filter((post) => !post.draft)
---

<MainLayout {title} {description}>
  <section class="container">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {frontmatter.map((post) => <PostCard tagType="h2" {post} />)}
    </div>
  </section>
</MainLayout>
