<footer>
  <small>
    Copyright<sup>&copy;</sup> Mark NJoroge <b><span id="copyright"></span></b> | All Rights reserved
  </small>
</footer>

<script>
  document.getElementById("copyright")!.textContent = new Date().getFullYear().toString()
</script>