---
// external imports
import { Icon } from 'astro-icon'

// locol imports

---
<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" aria-lable="Go Home" class="logomark">
      <Icon name="logomark" width="60"  />
    </a>

    <ul>

    </ul>
  </div>
</nav>