---
// external imports
import { Icon } from "astro-icon"

// local imports
import navData from "../data/navData"
import Link from "./Link.astro"

/// ph:sun-light
---

<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" aria-lable="Go Home" class="logomark">
      <Icon name="logomark" width="60" />
    </a>

    <ul>
      {
        navData.map((item) => (
          <li>
            <Link
              text={item.name}
              href={item.path}
              style="primary"
              isFilled={false}
              data-navlink
            />
          </li>
        ))
      }
      <li class="theme-btn-wrapper">
        <button
          class="icon-btn"
          data-theme-toggle
          aria-label="toggle theme"
          transition:persist="theme-toggle-btn"
        >
          <Icon
            name="bx:bxs-sun"
            data-icon-light
            class="icon-theme icon-theme--hidden"
          />
          <Icon name="bx:bxs-moon" data-icon-dark class="icon-theme" />
        </button>
      </li>
    </ul>
  </div>
</nav>

<script>
  import "../js/nav"
</script>
