---
// external imports
import { Icon } from "astro-icon"

// local imports
import navData from "../data/navData"
import Link from "./Link.astro"
---

<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" aria-lable="Go Home" class="logomark">
      <Icon name="logomark" width="60" />
    </a>

    <ul>
      {
        navData.map((item) => (
          <li>
            <Link
              text={item.name}
              href={item.path}
              style="primary"
              isFilled={false}
              data-navlink
            />
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<script>
  import "../js/nav"
</script>
