---
import { type CollectionEntry } from "astro:content"
import { formatBlogPosts, type TBlogFormatterOPtions } from "../js/utils"
import PostCard from "./PostCard.astro"

type TProps = {
  postOptions?: TBlogFormatterOPtions
  allPosts: CollectionEntry<"posts">[]
}

// props
const { allPosts, postOptions } = Astro.props as TProps

const {
  filterOutDrafts,
  filterOutFuturePosts,
  sortByDate,
  limit,
  filterByCategory,
  filterByAuthor,
} = postOptions || {}

// format
const formattedPosts = formatBlogPosts(allPosts, {
  ...(filterOutDrafts ? { filterOutDrafts } : {}),
  ...(filterOutFuturePosts ? { filterOutFuturePosts } : {}),
  ...(sortByDate ? { sortByDate } : {}),
  ...(limit ? { limit } : {}),
  ...(filterByCategory ? { filterByCategory } : {}),
  ...(filterByAuthor ? { filterByAuthor } : {}),
})
---

<div class="post-container">
  {formattedPosts.map((post) => <PostCard tagType="h2" {post} />)}
</div>
