---
// components
import HeadLayout from "./HeadLayout.astro";

// Styles
import "../styles/global.css"

// props
const {title, description} = Astro.props 

---

<html lang="en">
	<HeadLayout {title} {description} />
	<body>
		<slot />
	</body>
</html>
